<html>
     
<head><b>Welcome to Dharamshala.in!</b></head>
     
<body>
<p>Jai Jinendra ${userName}</p>

<p>Thank you for registering with Dharamshala.in.</p>

<p>Your credentials to log in are as follows.</p>

<p>Username: ${userName}</p>
<p>Email   : ${email}</p>
<!-- <p>Password: ${password}</p> -->

<p>You can now book Dharamshalla rooms online in three steps:</p>
     <ol><li>Login with username and password</li>
     <li>Select Dharamshala where you want to book rooms</li>
     <li> Select dates, type of rooms, number of rooms, make online payment and get Booking Voucher</li>
	</ol>
<p>Please click on social media links given above and spread the good word with your friends and relatives</p>

<p>Should you need any support in booking process, do call us at ${phoneNo}</p>

<p>Team</p>
<p>Dharamshala.in</p>
</body>
</html>